.dashboard iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

.topbar {
    margin: 8px;
    color: rgb(204, 204, 220)
}

.upload {
    display: flex;
    align-items: center;
}

.upload-message {
    padding: 0 16px 0 0;
    margin: 0;
}

.upload input::file-selector-button {
    font-weight: bold;
    color: rgb(204, 204, 220);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background-color: rgba(204, 204, 220, 0.1);
  }
